<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137419152145-29trnqa9rufevftf6o6d5kq9dt6m1a2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137419152145-29trnqa9rufevftf6o6d5kq9dt6m1a2c</string>
	<key>API_KEY</key>
	<string>AIzaSyBo5kGW__sJspno_VqaVIcpFoTRP80ihbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>137419152145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.windTech</string>
	<key>PROJECT_ID</key>
	<string>wind-tech-b38b3</string>
	<key>STORAGE_BUCKET</key>
	<string>wind-tech-b38b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137419152145:ios:63103744a3ec71d7498ab0</string>
</dict>
</plist>